@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #333;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #edf0f1;
}	

@media (min-width: 769px) { 
	.nav-menu {
		display: flex; 
		height: 70px;
		left: 0px;
		align-items: center;
		justify-content: center;
		gap: 40px;
		list-style: none;
		position: fixed;
		width: 100%;
		background-color: rgba(51,51,51,1);
		transition: background-color 0.5s ease, height 0.5s ease;
		backdrop-filter: blur(5px);
	}

    .nav-menu:hover {
        height: 70px;
    }
	
	.nav-menu-scrolled {
		background-color: rgba(51, 51, 51, 0.5);
		height: 50px;
		transition: background-color 0.5s ease, height 0.3s ease;
	}
}

.nav-menu a {
    color: #edf0f1;
	border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s ease;
	text-decoration: none;
}

.nav-menu a:hover {
    border-bottom: 1px solid #edf0f1;
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

footer {
    background-color: rgba(51,51,51,1);
	width: 100%;
    text-align: center;
	position: relative;
	padding: 10px;
	font-weight: 100;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.container {
    width: 60%;
    margin: 0 auto;
}

hr {
    border: none;
    border-top: 2px solid rgba(51,51,51,0.5);
    width: 100%; 
    position: relative;
    margin: 0 auto;
	padding-bottom: 10px;
	z-index: 90;
}

h1 {
    padding-bottom: 50px;
    color: black;
    font-weight: 550;
    text-align: center;
    font-size: 11vw;
    line-height: 1.5
}

h2 {
	padding-top: 20px;
    font-size: 50px;
	font-weight: 550;
}

h3 {
	font-size: 40px;
    padding-bottom: 20px;
}

.section {
    padding: 60px 0;
}

.project-list {
    display: flex;
    justify-content: space-around;
}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgba(51,51,51,1);
    border-radius: 15px;
    padding: 20px;
    width: 300px;
	background-color: #edf0f1;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.project-item p, h3 {
	color: rgba(51,51,51,1);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(51, 51, 51,1);
    color: #edf0f1;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: rgba(51,51,51,0.5);
}

#contact a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease;
}

#contact a:hover {
    border-bottom: 1px solid #333;
}

#credit p {
    color: #edf0f1;	
}

#mainpage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 110vh;
}

#mainpage p {
    font-size: 22px;
    padding-bottom: 100px;
}

#experience .experience-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
	gap: 0px 10vw;
	padding-right: 2vw;
}

#experience h4 {
    padding-bottom: 10px;
    margin-top: 0;
	font-weight: 700;
}

#experience ul {
    list-style-type: none;
    padding: 0;
}

#contact .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#back-to-top {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: rgba(51,51,51,0.5);
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(80px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

#back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#back-to-top:hover {
    background-color: rgba(51,51,51,1);
    transform: scale(1.05);
}

::selection {
    background-color: #ccc9c9;
    color: #333;
}

@media (max-width: 768px) {
	* {
		font-size: 16px;
	}
	
	#mainpage p {
		font-size: 16px;
	}
	
	.nav-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        justify-content: space-around;
        left: 0;
        top: 70px;
        list-style: none;
        height: 0;
        width: 100%;
        background-color: rgba(51,51,51,1);
        transition: height 0.4s ease, background-color 0.5s ease;
		backdrop-filter: blur(5px);
        overflow: hidden;
		z-index: 1000;
    }

    .nav-menu.show {
        height: 300px;
    }

    .hamburger {
        display: flex;
        flex-direction: row-reverse;
        color: #edf0f1;
        padding: 15px;
        background-color: rgba(51,51,51,1);
        transition: background-color 0.5s ease;
        height: 70px;
        width: 100%;
        left: 0;
        position: fixed;
        backdrop-filter: blur(5px);
        z-index: 1000;
    }
	
	.container {
		width: 90%;
		margin: 0 auto;
	}
	
	.hamburger-scrolled {
		background-color: rgba(51,51,51,0.5);
	}
	
	.nav-menu-scrolled {
		background-color: rgba(51, 51, 51, 0.5);
	}	
	
	h2 {
		padding-top: 30px;
		font-size: 30px;
	}

	h3 {
		font-size: 25px;
	}
	
	.project-item {
		width: 250px;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size: 15vw;
	}
}

@media (max-width: 900px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
}
