@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #edf0f1;
    --text-color: #333333;
    --primary-color: rgba(51, 51, 51, 1);
    --secondary-color: rgba(51, 51, 51, 0.5);
	--oposite-color: #edf0f1;
	--h1-color: black;
	--backtop-color: rgba(51, 51, 51, 0.5);
	--backtoph-color: rgba(51, 51, 51, 1);
	--font-weight: 500;
}

.dark-theme {
    --bg-color: #212121;
    --text-color: #edf0f1;
    --primary-color: rgba(237, 240, 241, 1);
    --secondary-color: rgba(237, 240, 241, 0.5);
	--oposite-color: #333333;
	--h1-color: #edf0f1;
	--backtop-color: rgba(51, 51, 51, 1);
	--backtoph-color: rgba(90, 90, 90, 1);
	--font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
	font-weight: var(--font-weight);
	font-size: 20px;
	color: var(--text-color);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
	transition: background-color 0.3s ease, color 0.3s ease;
}	

@media (min-width: 769px) {
	#mainpage img {
		display: none;
	}
}

@media (min-width: 1131px) { 
	.nav-menu {
		display: flex; 
		justify-content: center;
    align-items: center;
		list-style: none;
		height: 70px;
		position: fixed;
		width: 100%;
		background-color: rgba(51,51,51,1);
		transition: background-color 0.5s ease, height 0.5s ease;
		backdrop-filter: blur(5px);
		z-index: 1000;
	}

	.nav-menu-center {
		display: flex;
		align-items: center;	
		margin-right: auto;
		gap: 40px;
		margin-left: 15vw;
	}
	
	.nav-menu-right {
		display: flex;
		align-items: center;	
		margin-left: auto;
		font-size: 18px;
		margin-right: 15vw;
	}
	
    .nav-menu:hover {
        height: 70px;
    }
	
	.nav-menu-scrolled {
		background-color: rgba(51, 51, 51, 0.5);
		height: 50px;
		transition: background-color 0.5s ease, height 0.3s ease;
	}
}

.nav-menu a, span {
    color: #edf0f1;
	border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s ease;
	text-decoration: none;
	font-weight: 500;
}

.nav-menu a:hover {
    border-bottom: 1px solid #edf0f1;
}

.nav-menu span:hover {
    cursor: pointer; 
    border-bottom: 1px solid #edf0f1;
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

footer {
    background-color: rgba(51,51,51,1);
	width: 100%;
    text-align: center;
	position: relative;
	padding: 10px;
	font-weight: 100;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.container {
	padding-top: 10vh;
    width: 70%;
    margin: 0 auto;
}

hr {
    border: none;
    border-top: 2px solid var(--secondary-color);
    width: 100%; 
    position: relative;
    margin: 0 auto;
	padding-bottom: 10px;
	z-index: 90;
}

h1 {
    padding-bottom: 50px;
    color: var(--h1-color);
    font-weight: 550;
    text-align: center;
    font-size: 11vw;
    line-height: 1.5
}

h2 {
	padding-top: 20px;
    font-size: 50px;
	font-weight: 550;
}

h3 {
	font-size: 40px;
    padding-bottom: 20px;
}

.about-content {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	padding-right: 2vw;
}

.about-content img {
	width: 100%;
    max-width: 200px;
	height: 100%;
    max-height: 256px;
	border-radius: 20px;
}

.section {
    padding: 60px 0;
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.section.show {
    opacity: 1;
    transform: translateY(0);
}

.project-list {
    display: flex;
    justify-content: space-around;
}

.project-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
	background-color: var(--oposite-color);
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
}

.project-item p, h3 {
	color: var(--text-color);
}

.btn {
	color: var(--oposite-color);
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-color);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: var(--secondary-color);
}

#contact a {
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s ease;
}

#contact a:hover {
    border-bottom: 1px solid var(--text-color);
}

#credit p {
    color: #edf0f1;	
}

#mainpage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	width: 80%;
	margin: 0 auto;
}

#mainpage p {
    font-size: 22px;
}

.experience-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
	gap: 5vw;
	padding-right: 2vw;
}

#experience h4 {
    padding-bottom: 10px;
    margin-top: 0;
	font-weight: 700;
	white-space: nowrap;
}

#experience ul {
    list-style-type: none;
    padding: 0;
}

.contact-content {
    display: flex;
	flex-direction: column;
    justify-content: space-between;
}

.contact-row {
    display: flex;
    justify-content: space-between;
	margin-bottom: 10px;
    width: 100%;
}

#back-to-top {
    position: fixed;
    bottom: 80px;
    right: 20px;
    width: 50px;
    height: 50px;
	padding-bottom: 3px;
    background-color: var(--backtop-color);
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transform: translateY(80px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

#back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#back-to-top:hover {
    background-color: var(--backtoph-color);
    transform: scale(1.05);
}

::selection {
    background-color: #ccc9c9;
    color: #333;
}

@media (max-width: 1130px) {
	.nav-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        justify-content: space-around;
        left: 0;
        top: 69px;
        list-style: none;
        height: 0;
        width: 100%;
        background-color: rgba(51,51,51,1);
        transition: height 0.4s ease, background-color 0.5s ease;
		backdrop-filter: blur(5px);
        overflow: hidden;
		z-index: 1000;
    }

		.nav-menu-center {
			display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
				gap: 35px;
		}

    .nav-menu.show {
        height: 300px;
    }

    .hamburger {
        display: flex;
        flex-direction: row-reverse;
        color: #edf0f1;
        padding: 15px;
				padding-right: 30px;
        background-color: rgba(51,51,51,1);
        transition: background-color 0.5s ease;
        height: 70px;
        width: 100%;
        left: 0;
        position: fixed;
        backdrop-filter: blur(5px);
        z-index: 1000;
    }
	
	.hamburger-scrolled {
		background-color: rgba(51,51,51,0.5);
	}
	
	.nav-menu-scrolled {
		background-color: rgba(51, 51, 51, 0.5);
	}	
}

@media (max-width: 768px) {
	* {
		font-size: 16px;
	}

	#mainpage {
		padding-top: calc(50px + 20vh);
	}
	
	#mainpage h1 {
		padding-bottom: 0px;
	}
	
	#mainpage p {
		padding-top: 30px;
		font-size: 16px;
	}
	
	#mainpage img {
		width: 100%;
		max-width: 60vw;
		height: 100%;
		max-height: 77vw;
		border-radius: 20px;
	}
	
	#experience .experience-content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		gap: 2vw;
		padding-right: 2vw;
	}

	#experience h4 {
		padding-bottom: 10px;
		margin-top: 0;
		font-weight: 700;
		cursor: pointer;
	}

	#experience ul {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 10px;
	}
	
	.container {
		width: 90%;
		margin: 0 auto;
	}
	
	.section {
		opacity: 0;
		transform: translateY(100px);
		transition: opacity 0.8s ease-out, transform 0.8s ease-out;
	}
	
	.about-content img {
		display: none;
	}
	
	h2 {
		padding-top: 30px;
		font-size: 30px;
	}

	h3 {
		font-size: 25px;
	}
	
	.project-item {
		width: 250px;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size: 15vw;
	}
}

@media (max-width: 900px) {
	.container {
		width: 80%;
		margin: 0 auto;
	}
}
